$(function() {
  console.log('working');
  $('#claim-job').hide().after("You've successfully claimed this job" + "<a href='/workers/<%= current_worker.id %>'>View your jobs</a>");
    if (<%= params[:col] %> == 2) {
      $('#col3').append('<tr id="job<%= @job.id %>"><td><a href="jobs/<%= @job.id %>"><%= @job.title %></a></td></tr>')
    }
    else {
      $('#col2').append('<tr id="job<%= @job.id %>"><td><a href="jobs/<%= @job.id %>"><%= @job.title %></a><a data-remote="true" rel="nofollow" data-method="patch" href="/jobs/<%= @job.id %>?col=2&job%5Bcompleted%5D=true&job%5Bin_work%5D=false"><input type="checkbox" name="job" id="job" value="1"></a></li>')
    }
    $('#job<%= @job.id %>').remove();
})
